body, html{
	height: 100%;
	padding: 0 0;
	margin: 0px auto;
	font-family: 'Raleway', sans-serif;
}

body{
	position: absolute;
	background: url(img/wallpaper.png) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: none;
	width: 100%;
}

.head{
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	margin: 0px auto;
	padding: 50px;
	color: white;
}

.wrapper{
	background: rgba(0,0,0,0.7);
	width: 70%;
	height: 100%;
	margin: 0px auto;
	text-align: center;
}

.productwrap{
	background: rgba(0,0,0,0.7);
	width: 70%;
	height: 100%;
	margin: 0px auto;
	overflow: scroll;
	text-align: left;
}

.wrapper img{
	width: 30%;
	background-color: white;
	border-radius: 5px;
	margin: 0.25rem;
	padding: 0.5rem;
}

.productwrap img{
	width: 40%;
	background-color: white;
	border-radius: 5px;
	margin: 0.1rem;
	padding: 0.2rem;
	margin-left: 8%;
	display: inline-block;
}

::-webkit-scrollbar { 
    display: none; 
}

#productdesc{
	margin-left: 8%;
	color: white;
	text-align: left;
	position: absolute;
	margin-top: 8%;
	display: inline-block;
}

h3{
		margin-left: 8%;
	color: white;
	text-align: left;
	position: absolute;
	margin-top: 3%;
	display: inline-block;
}

.button{
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.5em;
	bottom: 50px;
	position: absolute;
}

.buttonpos{
	margin: 0px auto;
	text-align: center;
	margin-left: -5%;
}

#logbutton{
	position: relative;
	margin-left: -2%;
	margin-top: 3%;
}

#something {
  display: none;
}

#stuff{
	text-decoration: none;
	color: white;
  	background-color: rgba(255,255,255,0.9);	
  	width: 100px;
  	padding: 20px;
  	position: absolute;
  	margin-left: 0px;
  	margin-top: 0px;
	text-align: center;
}

#stuff a{
	text-decoration: none;
	color: black;
}

#stuff img{
	position: absolute;
	margin-top: -4%;
	margin-left: -25%;
}

#stuff2{
	text-decoration: none;
	/*background-color: black;*/
	height: 100%;
	color: rgb(47,200,213);
}

#something:target {
	display: inline-block;
	background-color: rgba(255,255,255,0.9);
	color: black;
	padding: 15px;
	position: absolute;
	margin-left: 140px;
}

#close #something:target{
    display: none;
}